<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamc.moodtracker.dao.CY_MemberDao">
    <select id="getMemberInfo_board" parameterType="int" resultType="cmvo">
        select m_id, m_name, m_handle, m_img_name, m_img_path from member where m_id=#{mid}
    </select>
</mapper>