<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamc.moodtracker.dao.JH.JH_BoardLikeDao">

    <select id="isMyLike" parameterType="blvo" resultType="boolean">
        select count(blike_id) from board_like where b_id=#{b_id} and m_id=#{m_id}
    </select>

    <select id="getBlike_id" parameterType="blvo" resultType="Integer">
        select blike_id from board_like where b_id=#{b_id} and m_id=#{m_id}
    </select>

    <delete id="delBoardLike" parameterType="Integer">
        delete from board_like where blike_id = #{blike_id}
    </delete>

    <insert id="addBoardLike" parameterType="blvo">
        insert into board_like values (board_like_seq.nextval, #{m_id}, #{b_id})
    </insert>



</mapper>