<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamc.moodtracker.dao.BoardDao">
    <insert id="addBoard" parameterType="bvo">
        <selectKey keyProperty="b_id" resultType="int" order="BEFORE">
            SELECT board_seq.NEXTVAL FROM DUAL
        </selectKey>
        insert into board values (#{b_id}, #{b_content}, #{m_id}, #{b_sentiment}, sysdate)
    </insert>
    <insert id="addMedia" parameterType="mdto">
        <selectKey keyProperty="md_id" resultType="int" order="BEFORE">
            SELECT media_seq.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO media_table
        VALUES (#{md_id}, #{md_name}, #{md_path}, #{md_type}, #{b_id}, sysdate)
    </insert>
    <resultMap id="BoardWithMediaResultMap" type="bdvo">
        <id property="b_id" column="b_id"/>
        <result property="m_id" column="bm_id"/>
        <result property="b_content" column="b_content"/>
        <result property="b_sentiment" column="b_sentiment"/>
        <result property="regdate" column="regdate"/>
        <result property="countLike" column="countLike"/>
        <association property="member" javaType="mvo">
            <id property="m_id" column="m_id"/>
            <result property="m_name" column="m_name"/>
            <result property="m_handle" column="m_handle"/>
            <result property="m_img_name" column="m_img_name"/>
            <result property="m_img_path" column="m_img_path"/>
        </association>
        <collection property="mediaList" ofType="mdto">
            <id property="md_id" column="md_id"/>
            <result property="md_name" column="md_name"/>
            <result property="md_path" column="md_path"/>
            <result property="md_type" column="md_type"/>
        </collection>
    </resultMap>

    <select id="getBoardDetail" resultMap="BoardWithMediaResultMap">
        SELECT
            b.b_id, b.b_content, b.m_id as bm_id, b_sentiment, b.regdate,
            m.md_id, m.md_name, m.md_path, m.md_type,
            mem.m_id as m_id, mem.m_name as m_name, mem.m_handle as m_handle, mem.m_img_name as m_img_name, mem.m_img_path as m_img_path,
            COUNT(bl.blike_id) as countLike
        FROM
            board b
                LEFT JOIN media_table m ON b.b_id = m.b_id
                LEFT JOIN member mem ON b.m_id = mem.m_id
                LEFT JOIN board_like bl ON b.b_id = bl.b_id
        WHERE
            b.b_id = #{b_id}
        GROUP BY b.b_id, b.b_content, b.m_id, b_sentiment, b.regdate,
                 m.md_id, m.md_name, m.md_path, m.md_type,
                 mem.m_id, mem.m_name, mem.m_handle, mem.m_img_name, mem.m_img_path
    </select>


    <select id="getBoardList" parameterType="map" resultType="java.lang.Integer">
        SELECT b.b_id
        FROM board b
        WHERE (SELECT COUNT(*) FROM board WHERE b_id > b.b_id) BETWEEN #{lastRowNum} AND (#{lastRowNum} + 4)
        ORDER BY b.b_id DESC
    </select>

    <update id="updateBoard" parameterType="bdvo">
        update board set
                         b_content = #{b_content}, B_SENTIMENT = #{b_sentiment} where b_id = #{b_id}
    </update>

    <select id="getMediaList" parameterType="Integer" resultType="mdto">
        select md_id, md_name, md_path, md_type, b_id from media_table where b_id = #{b_id}
    </select>

    <delete id="delMedai" parameterType="Integer">
        delete media_table where md_id = #{md_id}
    </delete>

    <delete id="delBoard" parameterType="Integer">
        delete board where b_id = #{b_id}
    </delete>

    <select id="getCommentList" parameterType="Integer" resultType="cvo">
        SELECT * from comments where b_id= #{b_id}
    </select>
</mapper>

