<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamc.moodtracker.dao.CommentDao">
    <select id="commentCount" parameterType="Integer" resultType="Integer">
        select count(cm_id) from comments  where b_id=#{b_id}
    </select>

    <select id="getCommentList" parameterType="Integer" resultType="cvo">
        select cm_id, b_id, m_id, cm_content, regdate from comments  where b_id=#{b_id}
    </select>

    <resultMap id="commentResultMap" type="cvo">
        <id property="cm_id" column="cm_id" />
        <result property="b_id" column="b_id" />
        <result property="m_id" column="cm_id" />
        <result property="cm_content" column="cm_content" />
        <result property="regdate" column="cm_regdate" />
        <result property="reply_count" column="reply_count" />

        <!-- MemberDto를 위한 resultMap -->
        <association property="member" javaType="jh_mvo">
            <id property="m_id" column="m_id" />
            <result property="m_name" column="m_name" />
            <result property="m_handle" column="m_handle" />
            <result property="m_img_name" column="m_img_name" />
            <result property="m_img_path" column="m_img_path" />
        </association>
    </resultMap>

    <select id="getCommentListDetail" resultMap="commentResultMap">
        SELECT
            c.cm_id as cm_id, c.b_id as b_id, c.m_id as ccm_id, c.cm_content as cm_content, c.regdate as cm_regdate,
            m.m_id as m_id, m.m_name as m_name, m.m_handle as m_handle, m.m_img_name as m_img_name, m.m_img_path as m_img_path,
            COUNT(r.re_id) as reply_count
        FROM comments c
                 LEFT JOIN reply r ON c.cm_id = r.cm_id
                 LEFT JOIN member m ON c.m_id = m.m_id
                 LEFT JOIN member rm ON r.m_id = rm.m_id
        WHERE c.b_id = #{b_id}
        GROUP BY c.cm_id, c.b_id, c.m_id, c.cm_content, c.regdate, m.m_id, m.m_name, m.m_handle, m.m_img_name, m.m_img_path
    </select>

    <insert id="addComment" parameterType="cvo">
        insert into comments values (comments_seq.nextval, #{b_id}, #{m_id}, #{cm_content}, sysdate)
    </insert>

    <delete id="delComment" parameterType="Integer">
        delete comments where cm_id = #{cm_id}
    </delete>


    <select id="getCm_idList" parameterType="Integer" resultType="Integer">
        select cm_id from comments where b_id = #{b_id} order by cm_id asc
    </select>

    <resultMap id="commentDetailMap" type="cvo">
        <id property="cm_id" column="cm_id" />
        <result property="b_id" column="b_id" />
        <result property="m_id" column="cm_id" />
        <result property="cm_content" column="cm_content" />
        <result property="regdate" column="regdate" />

        <!-- MemberDto를 위한 resultMap -->
        <association property="member" javaType="jh_mvo">
            <id property="m_id" column="m_id" />
            <result property="m_name" column="m_name" />
            <result property="m_handle" column="m_handle" />
            <result property="m_img_name" column="m_img_name" />
            <result property="m_img_path" column="m_img_path" />
        </association>
    </resultMap>

    <select id="getCommentDetail" resultMap="commentDetailMap">
        SELECT
        c.cm_id, c.b_id, c.m_id as cm_id, c.cm_content, c.regdate,
        m.m_id, m.m_name, m.m_handle, m.m_img_name, m.m_img_path
        FROM comments c
        LEFT JOIN member m ON c.m_id = m.m_id
        WHERE c.cm_id = #{cm_id}
    </select>




</mapper>