<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamc.moodtracker.dao.CommentLikeDao">

    <select id="isMyLikeComment" parameterType="cmlvo" resultType="boolean">
        select count(cmlike_id) from comments_like where cm_id=#{cm_id} and m_id=#{m_id}
    </select>

    <select id="commentLikeCount" parameterType="Integer" resultType="Integer">
        select count(cmlike_id) from comments_like where cm_id = #{cm_id}
    </select>

    <select id="getCmlike_id" parameterType="cmlvo" resultType="Integer">
        select cmlike_id from comments_like where cm_id=#{cm_id} and m_id=#{m_id}
    </select>

    <select id="getCmlike_idAll" parameterType="Integer" resultType="Integer">
        select cmlike_id from comments_like where cm_id=#{cm_id}
    </select>


    <delete id="delCommentLike" parameterType="Integer">
        delete from comments_like where cmlike_id = #{cmlike_id}
    </delete>

    <insert id="addCommentLike" parameterType="cmlvo">
        insert into comments_like values (comment_like_seq.nextval, #{m_id}, #{cm_id})
    </insert>



</mapper>