<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamc.moodtracker.dao.JH_replyDao">
    <select id="replyCount" parameterType="Integer">
        select count(re_id) from  reply where cm_id = #{cm_id}
    </select>

    <resultMap id="getReplyListMap" type="jh_rvo">
        <id property="re_id" column="re_id"/>
        <result property="cm_id" column="rcm_id"/>
        <result property="m_id" column="rm_id"/>
        <result property="re_content" column="re_content"/>
        <result property="regdate" column="regdate"/>

        <!-- Reply 작성자 정보 매핑 -->
        <association property="member" javaType="jh_mvo">
            <id property="m_id" column="rmm_id"/>
            <result property="m_name" column="rm_name"/>
            <result property="m_handle" column="rm_handle"/>
            <result property="m_img_name" column="rm_img_name"/>
            <result property="m_img_path" column="rm_img_path"/>
            <!-- 다른 MemberDto 속성들에 대한 매핑 추가 -->
        </association>
    </resultMap>

    <select id="getReplyLis" resultMap="getReplyListMap">
        select
        r.re_id, r.cm_id as rcm_id, r.m_id as rm_id, r.re_content, r.regdate,
        rm.m_id as rmm_id, rm.m_name as rm_name, rm.m_handle as rm_handle, rm.m_img_name as rm_img_name, rm.m_img_path as rm_img_path
        from reply r
        LEFT JOIN member rm ON r.m_id = rm.m_id
        where cm_id= #{cm_id}
    </select>
    
    
    <insert id="addReply" parameterType="jh_rvo">
        insert into reply values (reply_seq.nextval, #{cm_id}, #{m_id}, #{re_content}, sysdate)
    </insert>




</mapper>